<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Calculo Numerico</title>
</head>

<body style="font-family: 'Roboto', sans-serif">
    <div id="app">
        <v-app-bar dark>
            <v-toolbar-title class="font-weight-black">
                Calculo Numerico
            </v-toolbar-title>
        </v-app-bar>

        <v-content>
            <v-container fluid>

                <v-row>
                    <v-col cols="10" sm="6" md="1">
                        <h1>f(x) = </h1>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="X5" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="X4" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="X3" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="X2" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="X" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="Numero" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>
                    <v-col cols="10" sm="6" md="1">
                        <v-btn color="dark">Calcular</v-btn>
                    </v-col>

                </v-row>

                <v-row>
                    <v-col cols="10" sm="6" md="1">
                        <v-text-field label="E" outlined type="number" v-model="x5"></v-text-field>
                    </v-col>

                </v-row>
            </v-container>
        </v-content>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                x5: "a",
                x4: "a",
                x3: "a",
                x2: "a",
                x1: "a",
                x: "a",
            },


        })


        function a() {
            return "hello";
        }
    </script>
</body>

</html>